.nav-text{
    text-align: center;
}

.nav-link{
    color:#00597c;
}

.about-tab{
  text-decoration: overline;
  color:#4CAF50;
  
}
.fa, .fab{
    padding: 20px;
    font-size: 125%;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #00597c;
}
.fas{
  color:#4CAF50;
}

.icons{
    float:right;
}


.main-campus{
width:1540px;
height:250px;
margin: 0;
padding: 0;
opacity: 1;
border-color:green;
} 


.event-text{
  position: absolute;
  top:200px;
  left:0;
  width: 100%;
  color:white;
}

.evt{
    border-color:green;
    width:65%;
    height:85%;
}

.trees{
  width:60%;
  height:50%;
}

.event-bg{
    background-color:#00597c;
    display: flex;
    justify-content: space-between;
    }

    .slidecontainer {
        width: 100%;
      }
      
      .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 25px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
      }
      
      .slider:hover {
        opacity: 1;
      }
      
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
      }
      
      .swiper-container {
        width: 600px;
        height: 300px;
      }

      .nj{
        width:50%;
        height:50%;
        margin: 0;
        padding: 0;
              }
      
        .footer{
          background-color: #00597c;
        }
        .contact{
          color: white;
          text-align: justify;
        }

        .contact-line{
          text-decoration: overline;
          color:#4CAF50;
        }