.nav-text{
    text-align: center;
}

.nav-link{
    color:darkblue;
}

.fa, .fab{
    padding: 20px;
    font-size: 125%;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: darkblue;
}

.icons{
    float:right;
}

.main-campus{
width:1540px;
height:250px;
margin: 0;
padding: 0;
}

.cards-container{
    background-color: darkblue;
}
/* 
.event-title{
    background-color: white;
} */

.button-title{
    float:right;
    background-color: white;

}
/* .button-container{
    float:right;
    background-color: white;
} */